<div class="container mt-5">

<h1 class="display-4">"Šta tražite?"</h1>
<br>

<input type="text" class="form-control form-rounded" placeholder="Text input">
<br>
<textarea class="form-control form-rounded" rows="3"></textarea>


</div>